---
layout: default
---

<div class="container relative pb-12 lg:pb-16 xl:pb-20">
  <div class="px-4 mx-auto mt-10 max-w-screen-xl sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 xl:mt-28">
    <div class="text-center">
      <h1 class="text-3xl font-extrabold tracking-tight text-gray-900 leading-10 sm:text-4xl sm:leading-none md:text-5xl">
        Easy to use and privacy-friendly
        <br class="xl:hidden" />
        <span class="text-indigo-600">Google Analytics alternative</span>
      </h1>
      <p class="max-w-md mx-auto mt-3 text-base text-gray-500 sm:text-lg md:mt-5 md:text-xl md:max-w-3xl">
      Plausible is powerful, intuitive and lightweight analytics. No cookies just insights. Made and hosted in the EU, powered by European-owned infrastructure. 🇪🇺
      </p>
      <div class="max-w-md mx-auto mt-5 sm:flex sm:justify-center md:mt-8">
        <div class="shadow rounded-md">
          <a href="/register" class="flex items-center justify-center w-full px-8 py-3 text-base font-medium text-white bg-indigo-600 border border-transparent leading-6 rounded-md hover:bg-indigo-500 focus:outline-none focus:shadow-outline-indigo transition duration-150 ease-in-out md:py-4 md:text-lg md:px-10">
            Get started
          </a>
        </div>
        <div class="mt-3 shadow rounded-md sm:mt-0 sm:ml-3">
          <a href="/plausible.io" class="flex items-center justify-center w-full px-8 py-3 text-base font-medium text-indigo-600 bg-white border border-transparent leading-6 rounded-md hover:text-indigo-500 focus:outline-none focus:shadow-outline-blue transition duration-150 ease-in-out md:py-4 md:text-lg md:px-10">
            Live demo
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="relative">
  <div class="max-w-5xl mx-auto rounded" style="margin-bottom: -30rem; margin-top: -2rem;">
    <figure class="relative" style="padding-bottom: 82.6%">
      <img class="absolute top-0 left-0" src="/assets/images/privacy-focused-web-analytics.png" alt="Privacy-focused web analytics dashboard" />
    </figure>
  </div>
</div>

<div class="py-24 bg-white">
  <div style="padding-top: 36rem;"></div>
  <div class="container mx-auto">
    <div class="mx-auto text-gray-600 prose prose-lg">
      <h2>It's time to ditch Google Analytics</h2>
      <p>
      Google Analytics is frustrating to use, difficult to understand, slow to load and privacy-invasive. That's why we built Plausible Analytics, a simple but powerful alternative.
      </p>
  <p>
      Here's what makes Plausible a great <a href="/vs-google-analytics">Google Analytics alternative</a> and why over 15,000 paying subscribers trust us with their website and business insights:
      </p>
      <h3>Simple analytics at a glance</h3>
      <p>
        Plausible is <a href="/simple-web-analytics">simple analytics</a>. It is easy to understand and it cuts through the noise. Check your site traffic and get all the essential insights on one page in one minute. There are no layers of menus, there is no need for you to build custom reports, custom dashboards or PowerPoint documents. You can even <a href="/docs/google-analytics-import">import your Google Analytics stats</a>.
      </p>
      <h3>Lightweight script that keeps your site speed fast</h3>
      <p>
      Plausible is <a href="/lightweight-web-analytics">lightweight analytics</a>. Our script is 75 times smaller than Google Analytics. Your page weight will be cut down, your site will load faster and you'll reduce your carbon footprint for a greener and more sustainable web. A site with 100,000 monthly visitors can save 8.2 kg of CO2 emissions per year by switching.
      </p>
      <h3>
        No need for cookie banners or GDPR consent
      </h3>
      <p>
      Plausible is <a href="/privacy-focused-web-analytics">privacy-friendly analytics</a>. All the site measurement is carried out absolutely anonymously. Cookies are not used and no personal data is collected. There are no persistent identifiers. No cross-site or cross-device tracking either. Your site data is not used for any other purposes. All visitor data is exclusively processed with servers owned and operated by European companies and it never leaves the EU.
      </p>
      <h3>
        Track goal conversions, revenue and campaigns
      </h3>
      <p>
        Plausible is powerful. Segment your audience by any metric you click on. Analyze paid campaigns. Track ecommerce revenue, outbound link clicks, file downloads and 404 error pages. Track engagement metrics like scroll depth, bounce rate, and time spent on page. Create custom events with custom dimensions to track conversions and attribution. Increase conversions using funnel analysis.
      </p>
      <h3>Invite team members and share your dashboard</h3>
      <p>
        Plausible is shareable. Your stats are private by default but you can choose to be transparent and make them public so anyone with your custom link can view them. You can embed the dashboard into your website too. Stats can also be shared privately by generating a secure link. You can invite team members and assign user roles too.
      </p>
      <h3>Smooth transition from Google Analytics</h3>
      <p>
        There's a realtime dashboard, an entry pages report and integration with Search Console. You can track your paid campaign conversions, invite team members and count visitors who ignore the consent banner. We exclude data center bot traffic by default. You can even import your historical stats. Learn how to get the most out of <a href="/docs/your-plausible-experience">your Plausible experience</a> and join thousands who have already migrated from Google Analytics.
      </p>
      <p>
        We hope you enjoy Plausible!
      </p>
      <p>Regards,</p>
      <p>Uku and Marko</p>
      <p>
        P.S. We're a completely independent, self-funded, bootstrapped and debt-free team of 10. We're not interested in raising funds or taking investment. We choose the subscription business model rather than surveillance capitalism. We're operating a sustainable project funded solely by the fees that our subscribers pay us. Read more <a href="/about" class="text-indigo-600 hover:underline">about us</a>.
      </p>
  </div>
  </div>
</div>
</div>

<div class="pt-6 pb-24 bg-white">
  <div class="px-4 pb-16 mx-auto max-w-screen-xl sm:px-6 lg:pb-24 lg:px-8">
    <div class="max-w-3xl mx-auto text-center">
      <h2 class="text-3xl font-extrabold text-gray-900 leading-9">What can you do with Plausible Analytics?</h2>
      <p class="mt-4 text-lg text-gray-500 leading-7">Our features are built based on years of user feedback, making sure you work with exactly what you need. Each one is designed with simplicity in mind, so you <i>finally</i> don’t need any training to use analytics.</p>
    </div>
    <dl class="mt-12 space-y-10 sm:space-y-0 sm:grid sm:grid-cols-2 sm:col-gap-6 sm:row-gap-12 lg:grid-cols-4 lg:col-gap-8">
      <div class="flex space-x-3">
        <!-- Heroicon name: check -->
        <svg class="flex-shrink-0 w-6 h-6 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
        </svg>
        <div class="space-y-2">
          <dt class="text-lg font-medium text-gray-900 leading-6">Automatic scroll depth tracking</dt>
          <dd class="flex space-x-3 lg:py-0 lg:pb-4">
            <span class="text-base text-gray-500 leading-6">Plausible automatically tracks scroll depth (1-100%) for all pages—no complex setup or tag managers needed like with Google Analytics and other tools. You can set up scroll depth goals (codeless) too.
</span>
          </dd>
        </div>
      </div>
      <div class="flex space-x-3">
        <!-- Heroicon name: check -->
        <svg class="flex-shrink-0 w-6 h-6 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
        </svg>
        <div class="space-y-2">
          <dt class="text-lg font-medium text-gray-900 leading-6">Track AI traffic accurately</dt>
          <dd class="flex space-x-3">
            <span class="text-base text-gray-500 leading-6">Track which AI tools, like ChatGPT, Perplexity, DeepSeek, etc., send you traffic. See which pages are driving AI traffic, which conversions are being met, and more.
</span>
          </dd>
        </div>
      </div>
      <div class="flex space-x-3">
        <!-- Heroicon name: check -->
        <svg class="flex-shrink-0 w-6 h-6 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
        </svg>
        <div class="space-y-2">
          <dt class="text-lg font-medium text-gray-900 leading-6">Track SEO performance</dt>
          <dd class="flex space-x-3">
            <span class="text-base text-gray-500 leading-6">Connect Google Search Console to see search terms driving Google traffic within your Plausible dashboard. Analyze SEO content performance and track organic conversions—all in one place.</span>
          </dd>
        </div>
      </div>
      <div class="flex space-x-3">
        <!-- Heroicon name: check -->
        <svg class="flex-shrink-0 w-6 h-6 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
        </svg>
        <div class="space-y-2">
          <dt class="text-lg font-medium text-gray-900 leading-6">Track ad performance, and any other campaigns</dt>
          <dd class="flex space-x-3">
            <span class="text-base text-gray-500 leading-6">Track your UTM tags, along with an automatic breakdown of channels like Affiliates, Display, Email, Paid Search, Paid Social, Referral, etc. Analyze landing pages, conversions, locations, etc.</span>
          </dd>
        </div>
      </div>
      <div class="flex space-x-3">
        <!-- Heroicon name: check -->
        <svg class="flex-shrink-0 w-6 h-6 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
        </svg>
        <div class="space-y-2">
          <dt class="text-lg font-medium text-gray-900 leading-6">Real Time dashboard</dt>
          <dd class="flex space-x-3">
            <span class="text-base text-gray-500 leading-6">Monitor live site activity. The real-time view matches the default dashboard with the same reports and metrics. Updates every 30 seconds—no refresh needed. Simpler than GA4’s Real Time overview.</span>
          </dd>
        </div>
      </div>
      <div class="flex space-x-3">
        <!-- Heroicon name: check -->
        <svg class="flex-shrink-0 w-6 h-6 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
        </svg>
        <div class="space-y-2">
          <dt class="text-lg font-medium text-gray-900 leading-6">Codeless goals and revenue tracking</dt>
          <dd class="flex space-x-3 lg:border-t-0 lg:py-0 lg:pb-4">
            <span class="text-base text-gray-500 leading-6">Mark any pageviews as goals—no coding needed. Monitor file downloads, outbound clicks, etc., with a ready-made code snippet. Or use custom code for advanced tracking, while tracking revenue.</span>
          </dd>
        </div>
      </div>
      <div class="flex space-x-3">
        <!-- Heroicon name: check -->
        <svg class="flex-shrink-0 w-6 h-6 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
        </svg>
        <div class="space-y-2">
          <dt class="text-lg font-medium text-gray-900 leading-6">Track user journeys with Funnels</dt>
          <dd class="flex space-x-3">
            <span class="text-base text-gray-500 leading-6">Analyze user flow across pages, domains, subdomains, including custom events. See the percentage of visitors who complete conversions, where drop-offs occur, and segment users based on behavior.</span>
          </dd>
        </div>
      </div>
      <div class="flex space-x-3">
        <!-- Heroicon name: check -->
        <svg class="flex-shrink-0 w-6 h-6 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
        </svg>
        <div class="space-y-2">
          <dt class="text-lg font-medium text-gray-900 leading-6">Works with whatever you work with</dt>
          <dd class="flex space-x-3">
            <span class="text-base text-gray-500 leading-6">Use our WordPress plugin for easy setup, track WooCommerce funnels in one click, or build custom Looker Studio dashboards—Explore our various integrations and setup guides for easy setup.</span>
          </dd>
        </div>
      </div>
    </dl>
  </div>
</div>

<div class="py-6 overflow-hidden bg-white md:py-8 lg:py-12">
  <div class="container mx-auto">
    <h2 class="text-3xl font-extrabold text-center text-gray-900 sm:text-4xl">
      People ❤️  Plausible
    </h2>
    <p class="max-w-3xl mx-auto mt-3 text-xl text-center text-gray-500 sm:mt-4">
      Plausible is built for scale and can serve sites with hundreds of millions of monthly visitors. Thousands of sites, startups and some of the world's leading brands have already made the switch from Google Analytics and other services.
    </p>

    <div class="pb-12 mt-10 bg-white sm:pb-16">
      <div class="relative w-full">
        <div class="mx-auto">
          <dl class="bg-white rounded-lg sm:grid sm:grid-cols-3">
            <div class="flex flex-col p-6 text-center border-b border-gray-100 sm:border-0 sm:border-r">
              <dt class="order-2 mt-2 text-lg font-medium text-gray-500 leading-6">
              Paying subscribers
              </dt>
              <dd class="order-1 text-5xl font-extrabold text-indigo-600">
              15k
              </dd>
            </div>
            <div class="flex flex-col p-6 text-center border-t border-b border-gray-100 sm:border-0 sm:border-l sm:border-r">
              <dt class="order-2 mt-2 text-lg font-medium text-gray-500 leading-6">
              Tracked pageviews
              </dt>
              <dd class="order-1 text-5xl font-extrabold text-indigo-600">
              173B
              </dd>
            </div>
            <div class="flex flex-col p-6 text-center border-t border-gray-100 sm:border-0 sm:border-l">
              <dt class="order-2 mt-2 text-lg font-medium text-gray-500 leading-6">
              Uptime (Last 90 days)
              </dt>
              <dd class="order-1 text-5xl font-extrabold text-indigo-600">
              99.99%
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
    <div class="md:grid gap-4 grid-cols-3">
      {% for tweet in site.data.testimonials %}
        <div class="my-4 md:m-0">
          <div class="p-4 border border-gray-100 rounded-lg">
            <div class="flex items-center">
              <a class="flex items-center group" href="https://twitter.com/{{ tweet.author_handle }}" target="_blank">
                <img class="w-10 rounded-full" src="{{ tweet.author_img }}" />
                <div class="ml-2 leading-tight">
                  <div class="font-bold group-hover:text-blue-500">{{ tweet.author_name }}</div>
                  <div class="text-xs text-gray-500">@{{ tweet.author_handle }}</div>
                </div>
              </a>
              <a class="ml-auto twitter-icon" href="{{tweet.url}}" target="_blank"></a>
            </div>
            <div class="mt-2 text-sm whitespace-pre-wrap cursor-text tweet-text">{{tweet.text}}</div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% include pricing.html %}

<div class="pb-12 bg-gray-100">
  <div class="container px-4 py-12 mx-auto sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h3 class="text-3xl font-extrabold tracking-tight text-gray-900 leading-9 sm:text-4xl sm:leading-10">
      Ready to ditch Google Analytics?
      <br />
      <span class="text-indigo-600">Start your free trial today.</span>
    </h3>
    <div class="flex mt-8 lg:flex-shrink-0 lg:mt-0">
      <div class="inline-flex shadow rounded-md">
        <a href="/register" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-white bg-indigo-600 border border-transparent leading-6 rounded-md hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
          Get started
        </a>
      </div>
      <div class="inline-flex ml-3 shadow rounded-md">
        <a href="/plausible.io" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-indigo-600 bg-white border border-transparent leading-6 rounded-md hover:text-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
          Live demo
        </a>
      </div>
    </div>
  </div>
</div>
