<footer class="w-full text-center text-gray-500 p-8 bottom-0" style="background: #191e38;">
  <div>
    <a href="https://journal.plausible.io" class="light-text font-medium mr-4">Blog</a>
    <a href="/feedback" class="light-text font-medium mr-4">Feedback</a>
    <a href="/plausible.io" class="light-text font-medium">Live Demo</a>
  </div>
  <div class="leading-normal text-sm pt-12">
    <p>Made by <a href="https://twitter.com/ukutaht" class="light-text underline">@ukutaht</a> in London, UK</p>
    <p>
    <a href="/privacy" class="light-text">Privacy Policy</a> • <a href="/terms" class="light-text">Terms of service</a>
    </p>
  </div>
</footer>
