<nav class="container flex items-center justify-between flex-wrap py-8">
  <div class="flex items-center flex-shrink-0">
    <a href="/">
      <img src="/images/icon/plausible_logo-973ea42fac38d21a0a8cda9cfb9231c9.png?vsn=d" style="height: 2.5rem;" />
    </a>
  </div>

  <ul class="list-reset flex">
    <li>
      <a class="text-indigo-darker font-bold rounded py-2 px-3 hover:bg-grey-lighter" style="line-height: 33px;" href="{{ site.baseurl }}">Blog</a>
    </li>
    <li class="ml-6">
      <a class="text-indigo-darker font-bold rounded py-2 px-3 hover:bg-grey-lighter" style="line-height: 33px;" href="/login">Login</a>
    </li>
  </ul>
</nav>
