<header class="px-8 flex items-center justify-between flex-wrap py-6">
  <div class="flex items-center flex-no-shrink">
    <img src="https://plausible.io/images/icon/48x48-7a2b07cebea37d4d3b8975562eecd31d.png?vsn=d" style="height: 16px; margin-right: 6px;">
    <a href="/" class="logo-text text-lg">Plausible</a>
    <a href="{{ site.baseur; }}" class="ml-2">Blog</a>
  </div>

  <div>
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}

    {%- if titles_size > 0 -%}
      {%- for path in page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if my_page.title -%}
        <a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}

    <p class="inline-block ml-4">
      <svg class="w-4 h-4 inline-block orange"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg>
      <a class="font-medium text-grey-darker rounded p-2 hover:bg-grey-lighter" href="{{ "/feed.xml" | relative_url }}">Subscribe</a>
    </p>

  </div>
</header>
