<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icon/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icon/favicon-16x16.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/icon/favicon-32x32.png" />

  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}?v={{ site.time | date:'%s' }}">

  <link rel="preload" href="{{ "/assets/css/tooltip.css" | relative_url }}?v={{ site.time | date:'%s' }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{ "/assets/css/tooltip.css" | relative_url }}?v={{ site.time | date:'%s' }};"></noscript>

  <script> if (document.cookie.includes('logged_in=true') && window.location.href == 'https://plausible.io/') window.location.pathname = '/sites'</script>
  <script
    defer
    data-domain="plausible.io"
    src="https://plausible.io/js/script.manual.pageleave.js"
  ></script>
  <script>
    window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) };
    var props = {
      {% if page.author %}author: "{{ page.author }}",{% endif %}
      browser_language: navigator.language || navigator.userLanguage
    };
    window.plausible('pageview', {props: props});
    window.addEventListener('pageshow', function(event) {
      if (event.persisted) {
        window.plausible('pageview', {props: props});
      }
    });
  </script>


  {%- feed_meta -%}
</head>
