<nav class="container flex items-center justify-between flex-wrap py-8">
  <div class="flex items-center flex-shrink-0">
    <a href="/">
      <img src="/assets/images/icon/plausible_logo.png" style="height: 2.5rem;" alt="Plausible logo" />
    </a>
  </div>

  <ul class="flex">
    <li>
      <div class="inline-flex rounded">
        <a href="/login" class="inline-flex items-center justify-center px-5 py-2 border border-transparent text-base leading-6 font-medium rounded-md hover:bg-gray-200 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">Login</a>
      </div>
      <div class="inline-flex rounded shadow ml-3">
        <a href="/register" class="inline-flex items-center justify-center px-5 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">Start free trial</a>
      </div>
    </li>
  </ul>
</nav>
