<div class="bg-gray-100 overflow-x-hidden" id="pricing">
  <div class="pt-12 sm:pt-16 lg:pt-20">
    <div class="px-4 mx-auto max-w-screen-xl sm:px-6 lg:px-8">
      <div class="text-center">
        <h2
          class="text-3xl font-extrabold text-gray-900 leading-9 sm:text-4xl sm:leading-10 lg:text-5xl lg:leading-none">
          Traffic based plans that match your growth
        </h2>
        <p class="mt-4 text-xl text-gray-600 leading-7">
          Sign up for 30-day free trial. No credit card required.
        </p>
      </div>
    </div>
  </div>

  <script>
    const plans = [
      { volume: "10k", growth: 9, business: 19 },
      { volume: "100k", growth: 19, business: 39 },
      { volume: "200k", growth: 29, business: 59 },
      { volume: "500k", growth: 49, business: 99 },
      { volume: "1M", growth: 69, business: 139 },
      { volume: "2M", growth: 89, business: 179 },
      { volume: "5M", growth: 129, business: 259 },
      { volume: "10M", growth: 169, business: 339 },
    ]

    function volume(index) {
      index = parseInt(index)
      if (index === plans.length) {
        return "10M+"
      } else {
        return plans[index].volume
      }
    }

    function price(currency, index, tier, yearlyBilling, withoutDiscount = false) {
      index = parseInt(index)
      if (index === plans.length) {
        return "Custom"
      }

      let price

      if (yearlyBilling && withoutDiscount) {
        price = plans[index][tier] * 12
      } else if (yearlyBilling) {
        price = plans[index][tier] * 10
      } else {
        price = plans[index][tier]
      }

      return currency + price.toLocaleString("en-US")
    }

    function calculateBubblePosition(volumeIndex) {
      const range = document.getElementById("volume")
      const newVal = Number((volumeIndex / range.max) * 100)
      return `left: calc(${newVal}% + (${13.87 - newVal * 0.26}px))`
    }
  </script>
  <div class="pb-16 mt-8 bg-white sm:mt-12 sm:pb-20 lg:pb-28"
    x-data="{yearlyBilling: false, volumeIndex: 0, currency: '$'}"
    x-init="fetch('/api/paddle/currency').then(response => response.json()).then(data => currency = data.currency)">
    <div class="relative">
      <div class="absolute inset-0 bg-gray-100 h-1/2"></div>
      <div
        class="bg-white shadow-lg rounded-none md:rounded-lg relative px-4 sm:px-7 py-7 mx-auto max-w-screen-lg sm:px-6 lg:px-8">
        <div class="mt-5 lg:mt-0 flex flex-col gap-4 lg:flex-row lg:gap-8 items-center lg:items-baseline">
          <div class="lg:flex-1 lg:order-3 lg:justify-end flex">
            <div class="relative">
              <span
                class="absolute whitespace-no-wrap w-max px-2.5 py-0.5 rounded-full text-xs font-medium leading-4 bg-yellow-100 border border-yellow-300 text-yellow-700"
                style="right: -20px; top: -15px;">
                2 months free
              </span>
              <div
                class="grid grid-cols-2 gap-x-1 rounded-full bg-white p-1 text-center text-sm font-semibold leading-5 border border-gray-200">
                <label class="cursor-pointer rounded-full px-2.5 py-1 transition-colors ease-in-out duration-200"
                  :class="yearlyBilling ? 'text-gray-900 bg-white' : 'text-white bg-indigo-600'"
                  @click="yearlyBilling = false">
                  <input type="radio" name="frequency" value="monthly" class="sr-only" />
                  <span>Monthly</span>
                </label>
                <label class="cursor-pointer rounded-full px-2.5 py-1 transition-colors ease-in-out duration-200"
                  :class="yearlyBilling ? 'text-white bg-indigo-600' : 'text-gray-900 bg-white'"
                  @click="yearlyBilling = true">
                  <input type="radio" name="frequency" value="yearly" class="sr-only" />
                  <span>Yearly</span>
                </label>
              </div>
            </div>
          </div>
          <p class="lg:w-1/4 lg:order-1 font-medium text-gray-600">
            <span x-show="volumeIndex < plans.length">Up to</span>
            <b class="text-gray-900" x-text="volume(volumeIndex)"></b>
            <span>monthly pageviews</span>
          </p>
          <div class="max-w-md lg:max-w-none w-full mt-6 lg:w-1/2 lg:order-2 flex items-baseline space-x-2">
            <span class="text-xs font-medium text-gray-600">10k</span>
            <div class="flex-1 relative">
              <input id="volume" class="shadow w-full" type="range" min="0" max="8" step="1" x-model="volumeIndex" />
              <output class="bubble text-xs font-medium" x-text="volume(volumeIndex)"
                x-bind:style="`${calculateBubblePosition(volumeIndex)}`" />
            </div>
            <span class="text-xs font-medium text-gray-600">10M+</span>
          </div>
        </div>
        <div class="mt-6 isolate mx-auto grid max-w-md grid-cols-1 gap-6 lg:mx-0 lg:max-w-none lg:grid-cols-3">
          <!-- GROWTH BOX -->
          <div class="rounded-3xl px-6 sm:px-8 py-4 sm:py-6 bg-white border border-gray-200 shadow-md">
            <h3 class="text-lg font-semibold leading-8 text-gray-900">Growth</h3>
            <p class="mt-4 flex items-baseline gap-x-1">
              <span class="text-2xl font-bold w-max tracking-tight line-through text-gray-500 mr-1"
                x-show="yearlyBilling && volumeIndex < plans.length"
                x-html="price(currency, volumeIndex, 'growth', yearlyBilling, withoutDiscount = true)"></span>
              <span class="text-4xl font-bold tracking-tight text-gray-900"
                x-html="price(currency, volumeIndex, 'growth', yearlyBilling)"></span>
              <span class="text-sm font-semibold leading-6 text-gray-600" x-show="volumeIndex < plans.length"
                x-text="yearlyBilling && '/year' || '/month'"></span>
            </p>
            <a :href="volumeIndex < plans.length && '/register' || '/contact'"
              x-text="volumeIndex < plans.length && 'Start your free trial' || 'Contact us'"
              class="mt-4 block rounded-md py-2 px-3 text-center text-sm font-semibold leading-6 bg-indigo-600 hover:bg-indigo-500 text-white transition duration-150 ease-in-out"></a>
            <ul class="mt-6 space-y-3 text-sm leading-6 text-gray-600">
              <li class="flex gap-x-3">
                <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor"
                  aria-hidden="true">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" />
                </svg>
                Up to 3 team members
              </li>
              <li class="flex gap-x-3">
                <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor"
                  aria-hidden="true">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" />
                </svg>
                Up to 10 sites
              </li>
              <li class="flex gap-x-3">
                <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor"
                  aria-hidden="true">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" />
                </svg>
                3 years of data retention
              </li>
              <li class="flex gap-x-3">
                <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor"
                  aria-hidden="true">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" />
                </svg>
                Intuitive, fast and privacy-friendly dashboard
              </li>
              <li class="flex gap-x-3">
                <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor"
                  aria-hidden="true">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" />
                </svg>
                Email/Slack reports
              </li>
              <li class="flex gap-x-3">
                <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor"
                  aria-hidden="true">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" />
                </svg>
                Google Analytics import
              </li>
              <li class="flex gap-x-3">
                <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor"
                  aria-hidden="true">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" />
                </svg>
                Goals and custom events
              </li>
              <li class="flex gap-x-3">
                <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor"
                  aria-hidden="true">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" />
                </svg>
                Saved Segments
              </li>
            </ul>
          </div>
          <!-- BUSINESS BOX -->
          <div class="rounded-3xl px-6 sm:px-8 py-4 sm:py-6 bg-white border border-gray-200 shadow-md">
            <h3 class="text-lg font-semibold leading-8 text-gray-900">Business</h3>
            <p class="mt-4 flex items-baseline gap-x-1">
              <span class="text-2xl font-bold w-max tracking-tight line-through text-gray-500 mr-1"
                x-show="yearlyBilling && volumeIndex < plans.length"
                x-html="price(currency, volumeIndex, 'business', yearlyBilling, withoutDiscount = true)"></span>
              <span class="text-4xl font-bold tracking-tight text-gray-900"
                x-html="price(currency, volumeIndex, 'business', yearlyBilling)"></span>
              <span class="text-sm font-semibold leading-6 text-gray-600" x-show="volumeIndex < plans.length"
                x-text="yearlyBilling && '/year' || '/month'"></span>
            </p>
            <a :href="volumeIndex < plans.length && '/register' || '/contact'"
              x-text="volumeIndex < plans.length && 'Start your free trial' || 'Contact us'"
              class="mt-4 block rounded-md py-2 px-3 text-center text-sm font-semibold leading-6 bg-indigo-600 hover:bg-indigo-500 text-white transition duration-150 ease-in-out"></a>
            <ul class="mt-6 space-y-3 text-sm leading-6 text-gray-600">
              <li class="flex gap-x-3">
                <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor"
                  aria-hidden="true">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" />
                </svg>
                Everything in Growth
              </li>
              <li class="flex gap-x-3">
                <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor"
                  aria-hidden="true">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" />
                </svg>
                Up to 10 team members
              </li>
              <li class="flex gap-x-3">
                <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor"
                  aria-hidden="true">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" />
                </svg>
                Up to 50 sites
              </li>
              <li class="flex gap-x-3">
                <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor"
                  aria-hidden="true">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" />
                </svg>
                5 years of data retention
              </li>
              <li class="flex gap-x-3">
                <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor"
                  aria-hidden="true">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" />
                </svg>
                Stats API (600 requests per hour)
              </li>
              <li class="flex gap-x-3">
                <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor"
                  aria-hidden="true">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" />
                </svg>
                Looker Studio Connector
              </li>
              <li class="flex gap-x-3">
                <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor"
                  aria-hidden="true">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" />
                </svg>
                Custom Properties
              </li>
              <li class="flex gap-x-3">
                <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor"
                  aria-hidden="true">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" />
                </svg>
                Funnels
              </li>
              <li class="flex gap-x-3">
                <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor"
                  aria-hidden="true">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" />
                </svg>
                Ecommerce revenue attribution
              </li>
              <li class="flex gap-x-3">
                <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor"
                  aria-hidden="true">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" />
                </svg>
                Shared Segments
              </li>
              <li class="flex gap-x-3">
                <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor"
                  aria-hidden="true">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" />
                </svg>
                Priority support
              </li>
            </ul>
          </div>
          <!-- ENTERPRISE BOX -->
          <div class="rounded-3xl px-6 sm:px-8 py-4 sm:py-6 bg-white border border-gray-200 shadow-md">
            <h3 class="text-lg font-semibold leading-8 text-gray-900">Enterprise</h3>
            <p class="mt-4 flex items-baseline gap-x-1">
              <span class="text-4xl font-bold tracking-tight text-gray-900">Custom</span>
            </p>
            <a href="/contact"
              class="mt-4 block rounded-md py-2 px-3 text-center text-sm font-semibold leading-6 bg-indigo-600 hover:bg-indigo-500 text-white transition duration-150 ease-in-out">
              Contact us
            </a>
            <ul class="mt-6 space-y-3 text-sm leading-6 text-gray-600">
              <li class="flex gap-x-3">
                <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor"
                  aria-hidden="true">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" />
                </svg>
                Everything in Business
              </li>
              <li class="flex gap-x-3">
                <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor"
                  aria-hidden="true">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" />
                </svg>
                10+ team members
              </li>
              <li class="flex gap-x-3">
                <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor"
                  aria-hidden="true">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" />
                </svg>
                50+ sites
              </li>
              <li class="flex gap-x-3">
                <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor"
                  aria-hidden="true">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" />
                </svg>
                600+ Stats API requests per hour
              </li>
              <li class="flex gap-x-3">
                <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor"
                  aria-hidden="true">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" />
                </svg>
                <p>Sites API access for <a class="text-indigo-600 hover:underline"
                    href="/white-label-web-analytics">reselling</a></p>
              </li>
              <li class="flex gap-x-3">
                <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor"
                  aria-hidden="true">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" />
                </svg>
                5+ years of data retention
              </li>
              <li class="flex gap-x-3">
                <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor"
                  aria-hidden="true">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" />
                </svg>
                Technical onboarding
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>