---
---

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "assets/css/highlight.css";


html {
  @apply text-gray-800;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@screen xl {
  .container {
    max-width: 70rem;
  }
}

.light-text {
  color: #F0F4F8;
}

pre.highlight {
  margin-top: 1rem;
  margin-bottom: 1rem;
  white-space: pre-wrap;
}

#markdown-toc {
  @apply p-4 pl-10 border border-gray-300 my-6;
}

article img {
  @apply rounded max-w-full mt-10 mb-6;
}

@screen lg {
  article img {
    max-width: unset;
    width: 150%;
    margin-left: -25%;
  }
}

.rich-text code {
  white-space: pre-wrap;
}

.rich-text table {
  @apply min-w-full bg-white shadow my-6;
}

.rich-text table {
  max-width: 100%;
  overflow-x: auto;
  display: block;
}

@screen lg {
  .rich-text table {
    max-width: unset;
    width: 150%;
    margin-left: -25%;
  }
}

.rich-text table th {
  @apply px-6 py-3 border-b border-gray-200 text-left text-xs leading-4 font-medium text-gray-600 uppercase tracking-wider whitespace-no-wrap bg-gray-50;
}

.rich-text table td {
  @apply px-6 py-4 border-b border-gray-200 text-sm leading-5 text-gray-600;
}

@tailwind utilities;

input[type="range"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: #eef1f6;
  border-radius: 3px;
  height: 6px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  outline: none;
}
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  background-color: #5f48ff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2212%22%20height%3D%228%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M8%20.5v7L12%204zM0%204l4%203.5v-7z%22%20fill%3D%22%23FFFFFF%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E");
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  height: 36px;
  width: 36px;
}
input[type="range"]::-moz-range-thumb {
  background-color: #5f48ff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2212%22%20height%3D%228%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M8%20.5v7L12%204zM0%204l4%203.5v-7z%22%20fill%3D%22%23FFFFFF%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E");
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 36px;
  width: 36px;
}
input[type="range"]::-ms-thumb {
  background-color: #5f48ff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2212%22%20height%3D%228%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M8%20.5v7L12%204zM0%204l4%203.5v-7z%22%20fill%3D%22%23FFFFFF%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E");
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  height: 36px;
  width: 36px;
}
input[type="range"]::-moz-focus-outer {
  border: 0;
}
