---
# Only the main Sass file needs front matter (the dashes are enough)
---

h1, h2, h3, h4, h5, h6 {
  color: #3a3a3a;
}

.content-text {
  font-family: 'Helvetica', 'Avenir', 'Arial', sans-serif;
  color: #4D4D4D;
  font-size: 18px;
  line-height: 1.5;
}

.post-content {
  font-family: 'Helvetica', 'Avenir', 'Arial', sans-serif;
  color: #4D4D4D;
  font-size: 18px;
  line-height: 1.5;

  p {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  strong {
    color: #333;
  }


  ul {
    font-size: 17px;
    line-height: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
