---
layout: default
---

<div class="container max-w-md mt-24">
  <div class="text-center">
    <h2 class="text-indigo text-4xl font-black">The Plausible Blog</h2>
    <p class="content-text mt-2">
      Read about the journey of building <a class="underline" href="https://plausible.io">plausible.io</a>
    </p>
  </div>
</div>

<ul class="list-reset mt-24">
  {%- for post in site.posts -%}
  <li class="max-w-md mx-auto mt-16">
    <time class="uppercase text-xs text-grey font-bold">{{ post.date | date: "%b %-d, %Y" }}</time>
    <h3 class="mt-1 font-black text-3xl">
      <a class="text-indigo-darkest" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
    </h3>
    {%- if site.show_excerpts -%}
      <div class="mt-6 post-content">{{ post.content | truncatewords:120 }}</div>
    {%- endif -%}
    <div class="mt-10">
      <a class="text-indigo uppercase text-sm tracking-wide font-black content-link" href="{{ post.url | relative_url }}">Continue reading -></a>
    </div>
  </li>
  <hr class="w-full bg-grey-lighter my-12" style="height: 1px;">
  {%- endfor -%}
</ul>

</div>
