---
layout: default
---

<div class="container max-w-md mt-24">
  <div class="text-center">
    <h2 class="text-indigo-darkest text-4xl font-black">The Plausible Blog</h2>
    <p class="content-text text-lg mt-6">
    Hi! My name is <a class="content-link" href="https://twitter.com/ukutaht">Uku</a> and I'm building a lightweight, non-intrusive alternative to Google Analytics.
    You can read about the journey and what I've learnt along the way on this blog.
    </p>
  </div>
</div>

<div class="container max-w-md mt-12 flex justify-between">
  <form class="w-full rounded shadow-md" action="https://plausible.us20.list-manage.com/subscribe/post?u=aa3638e2a24986bbda7c17506&id=a307649d1b" method="post">
    <input type="email" name="EMAIL" class="w-2/3 transition bg-grey-lighter appearance-none border border-transparent rounded rounded-r-none p-2 text-grey-darker leading-normal appearance-none focus:outline-none" placeholder="email@example.com" /><!--
    --><input type="submit" class="w-1/3 button rounded-l-none cursor-pointer" value="Subscribe" />
  </form>
</div>

<hr class="w-full bg-grey-lighter my-12" style="height: 1px;">

<ul class="container max-w-md mt-12">
  {%- for post in site.posts -%}
  <li class="mt-16 list-reset">
    <time class="uppercase text-xs text-grey font-bold">{{ post.date | date: "%b %-d, %Y" }}</time>
    <h3 class="mt-1 font-black text-3xl">
      <a class="text-indigo-darkest" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
    </h3>
    {%- if site.show_excerpts -%}
      <div class="mt-6 post-content">{{ post.excerpt }}</div>
    {%- endif -%}
    <div class="mt-10">
      <a class="text-indigo uppercase text-sm tracking-wide font-black content-link" href="{{ post.url | relative_url }}">Continue reading -></a>
    </div>
  </li>
  <hr class="w-full bg-grey-lighter my-12" style="height: 1px;">
  {%- endfor -%}
</ul>

</div>
