---
layout: default
---

<div class="max-w-lg mx-auto mt-24">
  <a
    class="text-indigo uppercase text-sm tracking-wide font-black content-link"
    href="{{ site.baseurl }}"
    onclick="if (document.referrer === '{{ "" | absolute_url }}' || document.referrer === '{{ "/" | absolute_url }}') { history.back(); return false; } else { return true; }"
    >
    &larr; All posts
  </a>
</div>

<article class="container max-w-md mt-12">
  <h2 class="font-black text-indigo-darkest text-4xl mb-2">{{ page.title | escape }}</h2>
  <time class="uppercase text-xs text-grey font-bold">{{ page.date | date: "%b %-d, %Y" }}</time>

  <div class="mt-8 post-content">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}
</article>

<hr class="w-full bg-grey-lighter my-12" style="height: 1px;">


<div class="container max-w-lg mt-12 flex justify-between">
  {% if page.next.url and page.previous.url %}
    <div class="w-1/2 p-4">
      <div class="text-indigo uppercase text-sm tracking-wide font-black mb-2" href="{{ site.baseurl }}">Previous post</div>
      <a href="{{page.previous.url | relative_url }}">
        <h3 class="text-2xl font-black">{{page.previous.title}}</h3>
      </a>
      <div class="mt-6 post-content">{{ page.previous.excerpt }}</div>
      <div class="mt-6">
        <a class="text-indigo uppercase text-sm tracking-wide font-black content-link" href="{{ page.previous.url | relative_url }}">Continue reading &rarr;</a>
      </div>
    </div>
    <div class="w-1/2 p-4">
      <div class="text-indigo uppercase text-sm tracking-wide font-black mb-2" href="{{ site.baseurl }}">Next post</div>
      <a href="{{page.next.url | relative_url }}">
        <h3 class="text-2xl font-black">{{page.next.title}}</h3>
      </a>
      <div class="mt-6 post-content">{{ page.next.excerpt }}</div>
      <div class="mt-6">
        <a class="text-indigo uppercase text-sm tracking-wide font-black content-link" href="{{ page.next.url | relative_url }}">Continue reading &rarr;</a>
      </div>
    </div>
  {% else %}
    {% if page.next.url %}
    <div class="w-full">
      <div class="text-indigo uppercase text-sm tracking-wide font-black mb-2" href="{{ site.baseurl }}">Next post</div>
      <a href="{{page.next.url | relative_url }}">
        <h3 class="text-2xl font-black">{{page.next.title}}</h3>
      </a>
      <div class="mt-6 post-content">{{ page.next.excerpt }}</div>
      <div class="mt-6">
        <a class="text-indigo uppercase text-sm tracking-wide font-black content-link" href="{{ page.next.url | relative_url }}">Continue reading &rarr;</a>
      </div>
    </div>
    {% endif %}
    {% if page.previous.url %}
    <div class="w-full">
      <div class="text-indigo uppercase text-sm tracking-wide font-black mb-2" href="{{ site.baseurl }}">Previous post</div>
      <a href="{{page.previous.url | relative_url }}">
        <h3 class="text-2xl font-black">{{page.previous.title}}</h3>
      </a>
      <div class="mt-6 post-content">{{ page.previous.excerpt }}</div>
      <div class="mt-6">
        <a class="text-indigo uppercase text-sm tracking-wide font-black content-link" href="{{ page.previous.url | relative_url }}">Continue reading &rarr;</a>
      </div>
    </div>
    {% endif %}
  {% endif %}
</div>

<hr class="w-full bg-grey-lighter my-24" style="height: 1px;">
