---
layout: default
---

<div class="max-w-lg mx-auto mt-24">
  <a class="text-indigo font-medium hover:text-indigo-light" href="{{ site.baseurl }}">&larr; All posts</a>
</div>

<article class="container max-w-md mt-12">
  <h2 class="font-black text-indigo-darkest text-4xl mb-2">{{ page.title | escape }}</h2>
  <time class="uppercase text-xs text-grey font-bold">{{ page.date | date: "%b %-d, %Y" }}</time>

  <div class="mt-8 post-content">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}
</article>

<hr class="w-full bg-grey-lighter my-24" style="height: 1px;">
